<!DOCTYPE html>
<html>
<head>
    <title>Signed Up</title>
</head>
<body>

    <div class="cakes">
        <p> User has been added Successfully </p>
    </div>
    <div class="cakes-help">
        <p>Back to Home  <a href="/">Click here to Back</a>.</p>
    </div>

</body>

</html>