<!DOCTYPE html>
<html>
<head>
    <title>login and registration</title>
</head>
<body>

    <div class="login">
    <h1>Login to App</h1>
    <form method="post" action="/sessions">
        <p><input type="hidden" name="authenticity_token"  value="<%=form_authenticity_token"> </p>  
        <p><input type="text" name="login[email]" value="" placeholder="Email"></p>
        <p><input type="password" name="login[password]"  placeholder="Password"></p>
        <p class="submit"><input type="submit" name="commit" value="Login"></p>
        </form>
    </div>

    <div class="login-help">
        <p>Forgot your password? <a href="#">Click here to reset it</a>.</p>
    </div>

    <div class="signup">
    <h1>SignUp</h1>
    <form method="post" action="/users">
        <p><input type="hidden" name="authenticity_token"  value="<%=form_authenticity_token">   </p>  
        <p><input type="text" name="user[name]"  placeholder="Name"></p>
        <p> <input type="text" name="user[email]"  placeholder="Email"> </p>
        <p><input type="password" name="user[password]"  placeholder="Password"><p>
        <p><input type="password" name="user[password_confirmation]"  placeholder="password_confirmation"><p>
        <p ><input type="submit" name="Submit" value="Register" class="submit" ></p>
        </form>
    </div>


    <!--<h1>
        login
    </h1>
    <form action="/sessions" method = "POST">

        <input type="hidden" name="authenticity_token"  value="<%=form_authenticity_token">   
        <input type="email" name="login[email]"  placeholder="email">
        <input type="password" name="login[password]"  placeholder="password">

        <input type="submit" name="submit" class="submit">
    </form>

   

    <h1>
        Registration
    </h1>

    <form action="/users" method = "POST">

        <input type="hidden" name="authenticity_token"  value="<%=form_authenticity_token">   
        <input type="name" name="user[name]"  placeholder="name">
        <input type="email" name="user[email]"  placeholder="email">
        <input type="password" name="user[password]"  placeholder="password">
        <input type="password" name="user[password_confirmation]"  placeholder="password_confirmation">
        <input type="submit" name="submit" class="submit">
    </form>-->

 



</body>

</html>